<!DOCTYPE html>
<html ng-app="presentation">
<head lang="en">
    <meta charset="UTF-8">
    <title>Presentation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/wwwroot/CSS/bootstrap.min.css"/>
    <link rel="stylesheet" href="/wwwroot/CSS/presentation.css"/>
</head>
<body ng-controller="presentationCtrl" ng-keyup="keyPress($event)" >

	<div class="row">	
        <div class="slide">
            <h1>Primabouw</h1>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <h2 style="text-align:center;">Dieter Beelaert</h2>
    </div>
        <div class="slide">
            <h1>Inhoud</h1>
            <h3 class="listItem">Het bedrijf</h3>
            <h3 class="listItem">Het proces</h3>
            <h3 class="listItem">Het proces uitgediept</h3>
            <h3 class="listItem">Primabouw en IT-projecten</h3>
            <h3 class="listItem">Gebruikte elicitatietechnieken</h3>
            <h3 class="listItem">Reflectie</h3>
        </div>

        <div class="slide centerAlign">
            <h1>Primabouw</h1>
            <img src="/wwwroot/images/primabouw.jpg" style="margin: 0 auto"/>
            <h3>Houtskeletbouw</h3>
            <h3>Gaat terug tot 1944</h3>
            <h3>Prefab</h3>
        </div>

        <div class="slide centerAlign">
            <h1>Het proces</h1>
            <h2 style="text-align:center;">Van aanvraag tot prefab elementen</h2>
            <img src="/wwwroot/images/werf1.jpg"/>
        </div>

        <div class="slide centerAlign">
            <h1>Het proces</h1>
            <h2>Klant en architect</h2>
            <img src="/wwwroot/images/scheme1.png"/>
        </div>
    </div>



    <div class="navbar navbar-fixed-bottom">
		<footer>
			<img src="/wwwroot/images/hogent.png" alt="howest logo" class="logo" style="margin-left:10px"/>
            <img src="/wwwroot/images/primabouw.jpg" alt="howest logo" class="logo" style="margin-left:10px; opacity: 0.6"/>
		</footer>
	</div>


    <script src="wwwroot/JS/jquery.min.js"></script>
    <script src="wwwroot/JS/setup.js"></script>	
    <script src="wwwroot/JS/angular.min.js"></script>
    <script src="wwwroot/JS/angular-animate.js"></script>
    <script src="wwwroot/JS/presentation.js"></script>
    <script src="wwwroot/JS/fontIcon.js"></script>
</body>
</html>
